#!/bin/bash

ORIGINDIR=$PWD
BASEDIR=$(dirname $0)

cd $BASEDIR

docker build -t ${DOCKER_HUB_ACCOUNT}/quelleheure:v4 .
docker login -u ${DOCKER_HUB_ACCOUNT}
docker push ${DOCKER_HUB_ACCOUNT}/quelleheure:v4
docker logout
