#!/bin/bash

ORIGINDIR=$PWD
BASEDIR=$(dirname $0)

cd $BASEDIR

#Création du secret contenant les paramètres d'authentification pour le storage account
kubectl create secret generic azure-secret --from-literal=azurestorageaccountname=${STORAGE_ACCOUNT_NAME} --from-literal=azurestorageaccountkey="${STORAGE_ACCOUNT_KEY}"
